{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container">
<h1>Login</h1>

{% with messages = get_flashed_messages() %}



{% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">

        <span aria-hidden="true">x</span>
    </button>
        {{ message }}
    </div>

{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}

        {% for error in form.username.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.position.label }}<br>
        {{ form.position(size=32) }}

        {% for error in form.position.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date_of_birth.label }}<br>
        {{ form.date_of_birth(size=32) }}

        {% for error in form.date_of_birth.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.salary.label }}<br>
        {{ form.salary(size=32) }}

        {% for error in form.salary.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        <input type="submit" value="Login" class="btn btn-success">

    </p>


</form>
</div>
{% endblock %}