{% extends 'base.html' %}

{% block title %}Department{% endblock %}

{% block body %}

<div class="container">
<h1>Department</h1>

{% with messages = get_flashed_messages() %}



{% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">

        <span aria-hidden="true">x</span>
    </button>
        {{ message }}
    </div>

{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
        {{ form.department.label }}<br>
        {{ form.department(size=32) }}

        {% for error in form.department.errors %}
            <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        <input type="submit" value="Login" class="btn btn-success">

    </p>


</form>
</div>
{% endblock %}