{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">

<h1>Welcome to  Flask</h1>
    <p>Our simple application</p>
    <h2>{{data.text}}</h2>
    <h2>{{data.name}}</h2>
</div>
{% endblock %}